{{ define "main" }}
<script src="lib/reorganize.js"></script>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Sortieren:</h5>
            <select id="BSelectSort" class="selectpicker" data-style="" data-style-base="form-control" data-width="160px">
                <option data-content="<i class='fa fa-angle-up' style='margin-right:5px'></i> Schwierigkeit" selected></option>
                <option data-content="<i class='fa fa-angle-down' style='margin-right:5px'></i> Schwierigkeit"></option>
                <option data-content="<i class='fa fa-angle-up' style='margin-right:5px'></i> Alphabetisch"></option>
                <option data-content="<i class='fa fa-angle-down' style='margin-right:5px'></i> Alphabetisch"></option>
            </select>
        </div>
        <div class="col-6">
            <h5>Filtern:</h5>
            <select id="BSelectFilter" class="selectpicker" data-style="" data-style-base="form-control" data-width="110px">
                <option data-content="Alle"></option>
                <option data-content="Cubi"></option>
                <option data-content="Scratch"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                {{ .Content }}
            </p>
        </div>
    </div>
    <div class="row">
        {{ range .Pages.ByTitle  }}
            {{ partial "projectCard.html" . }}
        {{ end }}
    </div>
</div>
<script src="js/main.js"></script>
{{ end }}